@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --size-map-small: 100px;
    --size-tooltip: 50px;
    --size-map-large: 350px;
    --fraction-tooltip: 80%;
    --marker-size: 32px;
    --marker-size-large: 48px;

    --color-plog-neutral: #FEF4EC;
    --color-plog-extra: #303030;
    --color-plog-normal: #3d3d3d;
    --color-plog-feature: #8A2BE2;
    --color-plog-highlight: #cc5803;
    --color-plog-detail: #5A5A5A;
    --color-plog-accent: #d9d9d9;
}

.rail {
    height: 10px;
    background: var(--color-plog-accent);
}

.zoomed .rail {
    height: 30px;
}


.mark {
    background: none;
    height: 6px;
    width: 1px;
}

.zoomed .mark {
    background: var(--color-plog-feature) !important;
    width: 2px;
    height: 26px;
}


.thumb {
    height: 40px;
    width: 10px;
    background-color: var(--color-plog-highlight);
}


.zoomed .thumb {
    height: 35px;
    width: 20px;
}


.thumb::before {
    border-radius: 5px;
    position: absolute;
    display: block;
    content: "";
    background-color: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: inherit;
    height: 5px;
    width: 5px;
}

[data-value="0"].thumb::before {
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

.zoomed [data-value="0"].thumb::before {
    width: 30px;
    height: 30px;
}

[data-value="0"].thumb {
    border-radius: 10px;
    width: 15px;
    height: 15px;
}
