@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --size-map-small: 100px;
    --size-tooltip: 50px;
    --size-map-large: 500px;
    --size-map-home:350px;
    --fraction-tooltip: 80%;
    --marker-size: 32px;
    --marker-size-large: 48px;

    --color-plog-neutral: #FEF4EC;
    --color-plog-neutral-8: #fef4eca0;
    --color-plog-extra: #303030;
    --color-plog-normal: #3d3d3d;
    --color-plog-feature: #cc5803;
    --color-plog-highlight: #cc5803;
    --color-plog-detail: #5A5A5A;
    --color-plog-accent: #d9d9d9;
}

.rail {
    height: 10px;
    background: var(--color-plog-accent);
}

.zoomed .rail {
    height: 30px;
}


.mark {
    background: none;
    height: 6px;
    width: 1px;
}

.zoomed .mark {
    background: var(--color-plog-feature) !important;
    width: 3px;
    height: 15px;
}


.thumb {
    height: 40px;
    width: 10px;
    background-color: var(--color-plog-highlight);
}


.zoomed .thumb {
    height: 48px;
    width: 12px;
}


.thumb::before {
    border-radius: 5px;
    position: absolute;
    display: block;
    content: "";
    background-color: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: inherit;
    height: 5px;
    width: 5px;
}

[data-value="0"].thumb::before {
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

.zoomed [data-value="0"].thumb::before {
    width: 30px;
    height: 30px;
}

[data-value="0"].thumb {
    border-radius: 10px;
    width: 15px;
    height: 15px;
}

.mapreference {
    position: absolute;
    height: calc(var(--size-map-home) - var(--marker-size-large));
    visibility: hidden;
    width: calc(100% - var(--marker-size));
}

.drawer {
    position: relative;
    overflow: hidden;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-top: none;
    transition: all 1s ease-out;
    background-color: var(--color-plog-neutral);

    .opener {
        position: absolute;
        transform: translate(-50%, 0%);
        top: -5px;
        left: 50%;
        background: var(--color-plog-neutral);
        border-radius: 3px;
        padding-top: 5px;
        width: 30px;
        height: 30px;
        transition: all 1s ease-out;
        opacity: 1;

        &.home {
            opacity: 0;
        }

        &.open {
            width: 40px;
            height: 40px;
        }
    }

    &.expanded {
        box-shadow: 0px -10px 10px 0px var(--color-plog-accent);
        border-top: 1px solid var(--color-plog-accent);
    }

    &.home {
        box-shadow: none;
    }
    .mapcontainer {
        position: relative;
        transition: all 1s ease-out;

        .description {
            position: absolute;
            left: 0;
            height: var(--size-map-small);
            padding: '5px';
            width: var(--fraction-tooltip);
            bottom: 0;
            pointer-events: none;
            transition: all 1s ease-out;
            opacity: 0.8;

            .innerdescription {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                font-size: 25px;
                font-weight: bold;
                white-space: nowrap;
                transition: all 1s ease-out;
                text-shadow: 1px 1px 4px var(--color-plog-neutral);
            }
        }

        &.expanded:not(.home) {
            .description {
                height: var(--size-tooltip);
                width: 100%;
                bottom: -15px;
            }

            padding-bottom: var(--size-tooltip);
        }

        &.expanded.home {
            height: var(--size-map-home);
            padding-bottom: 0px;
        }

        &:not(.expanded) {
            height: var(--size-map-small);
        }

        &.home .description {
            opacity: 0;
        }

        &.expanded {
            height: var(--size-map-large);

            .map {
                margin-left: -50%;
            }

            .description .innerdescription {
                text-shadow: none;
            }
        }

        .mapframe {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;
        }

        .map {
            width: 200%;
            height: calc(var(--marker-size-large) + 100%);
            margin-left: calc((var(--fraction-tooltip) - 100%) / 2);
            transition: all 1s linear;

            .marker {
                transition-property:
                    color, opacity, width, height;
                transition-timing-function: ease-out;
                transition-duration: 1s;
                color: var(--color-plog-normal);
                opacity: 0.5;
                height: var(--marker-size);
                width: var(--marker-size);

                .icon {
                    pointer-events: auto;
                    width: 100%;
                    height: 100%;

                    path {
                        transition: d 1s;
                    }
                }


                &.selected {
                    color: var(--color-plog-highlight);
                    opacity: 0.8;
                    height: var(--marker-size-large) !important;
                    width: var(--marker-size-large) !important;
                }
            }
        }

        &.home .map {
            .marker {
                opacity: 1;
            }

            .icon {
                transform: translateY(150%) translateX(50%);
                height: 50%;
                width: 50%;
                opacity: 1;
            }
        }
    }
}

.nav-button {
    position: absolute;
    width: 56px;
    height: 56px;
    padding: 10px;
    top: 50%;
    transform: translateY(-200%);
    background: var(--color-plog-neutral-8);
    border: 1px solid var(--color-plog-normal);
    border-radius: 35px;
    margin: 5px;
    transition: all 1s;
}

.nav-button:hover {
    background: var(--color-plog-neutral);
}
