@tailwind base;
@tailwind components;
@tailwind utilities;

.rail {
    height: 10px;
    background: rgb(70, 80, 138);
}

.zoomed .rail {
    height: 30px;
}


.mark {
    background: #ffbde2;
    height: 6px;
    width: 1px;
}

.zoomed .mark {
    width: 2px;
    height: 26px;
}


.thumb {
    height: 40px;
    width: 10px;
    background-color: #a30073;
}


.zoomed .thumb {
    height: 35px;
    width: 20px;
}


.thumb::before {
    border-radius: 5px;
    position: absolute;
    display: block;
    content: "";
    background-color: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: inherit;
    height: 5px;
    width: 5px;
}

[data-value="0"].thumb::before {
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

.zoomed [data-value="0"].thumb::before {
    width: 30px;
    height: 30px;
}

[data-value="0"].thumb {
    border-radius: 10px;
    width: 15px;
    height: 15px;
}
